<style>
* {
  box-sizing: border-box;
}

.row {
  margin-top: 20px;
  margin-bottom: 30px;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>
