<style>

* {
  box-sizing: border-box;
}

.row {
  margin-top: 20px;
  margin-bottom: 30px;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 36px;
    line-height: 46px;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 26px;
    line-height: 36px;
  }
}

@media screen and (max-width: 600px) {
  h3 {
    font-size: 24px;
    line-height: 34px;
  }
}

@media screen and (max-width: 600px) {
  #bundle-title {
    font-size: 22px;
    line-height: 32px;
  }
}

</style>
